<div class="container">
	<div class="col-md-12 text-center">
		<h2><b>ABOUT US</b></h2>
		<h4>We are passionate about what we do</h4>
	</div>
	<div class="col-md-12">
		<p><a href="/">Home</a> &rarr;  About us</p>
	</div>
</div>
<div class="container">
		<div class="col-md-6">
			<h4>
				<b>Our Awesome Core Feature</b>
			</h4>
			<p>
				Excepteur in enim labore pariatur eiusmod commodo non aliquip reprehenderit reprehenderit culpa proident ad. Sit veniam dolore laboris non id elit tempor fugiat quis in commodo duis.
			</p>
			<div class="col-md-12">
				<div class="col-md-6 row c">
					<div class="col-md-2 ic">
					<img src="/images/ab-icon5.png" alt="">
					</div>
					<p>Fully Responsive Theme </p>
				</div>
				<div class="col-md-6 row c">
					<div class="col-md-2 ic">
					<img src="/images/ab-icon6.png" alt="">
					</div>
					<p>New Technology</p>
				</div>
				<div class="col-md-6 row c">
					<div class="col-md-2 ic">
					<img src="/images/ab-icon7.png" alt="">
					</div>
					<p>Fully Responsive Theme</p>
				</div>
				<div class="col-md-6 row c">
					<div class="col-md-2 ic">
					<img src="/images/ab-icon8.png" alt="">
					</div>
					<p>Fully Responsive Theme</p>
				</div>
				<div class="col-md-6 row c">
					<div class="col-md-2 ic">
					<img src="/images/ab-icon9.png" alt="">
					</div>
					<p>Fully Respnsive Theme</p>
				</div>
				<div class="col-md-6 row c">
					<div class="col-md-2 ic">
					<img src="/images/ab-icon10.png" alt="">
					</div>
					<p>Fully Respnsive Theme</p>
				</div>
			</div>
		</div>
		<div class="col-md-6 row text-center">
			<div class="col-md-6 ab">
				<img src="/images/ab-icon1.png" alt="">
				<p size="25px">LUNCH BUSSINESS</p>
			</div>
			<div class="col-md-6 ab">
				<img src="/images/ab-icon2.png" alt="">
				<p size="25px">ONLINE SUPPORT TEAM</p>
			</div>
			<div class="col-md-6 ab">
				<img src="/images/ab-icon3.png" alt="">
				<p size="25px">ANALYZING TRATEGY</p>
			</div>
			<div class="col-md-6 ab">
				<img src="/images/ab-icon4.png" alt="">
				<p size="25px">TIME MANAGEMENT</p>
			</div>
		</div>
</div>
<div class="container">
	<div class="col-md-12">
		<h3><b>Transforming</b></h3>
		<p align="justify">Officia culpa dolor nulla et. Non exercitation id fugiat mollit veniam. Fugiat dolor ea incididunt sunt adipisicing et irure duis ex aute adipisicing ex. Excepteur est dolore sunt occaecat quis velit quis sit sint cillum cupidatat sunt sunt.</p>
	</div>
	<div class="col-md-12 row">
		<div class="col-md-6 ab-img1">
			<img src="/images/ab-img02.png" alt="">
		</div>
		<div class="ab-img2">
			<img src="/images/ab-img.png" alt="">
		</div>
	</div>
</div>
<div class="container">
	<div class="col-md-12 text-center">
		<h3><b>Team members</b></h3>
		<p>Consectetur eu nulla minim cupidatat deserunt in velit aliquip irure fugiat labore veniam tempor est. Pariatur laborum eiusmod aliquip dolor minim enim fugiat veniam ipsum. Tempor anim exercitation do incididunt. Irure magna dolore ut irure Lorem fugiat ad culpa pariatur duis aliquip aliqua in velit. Enim laboris occaecat proident Lorem. Ullamco voluptate aliqua non amet nulla non aliqua commodo do. Enim laborum labore excepteur magna exercitation excepteur.</p>
	</div>
	<div class="col-md-6">
		<div class="col-md-6 af">
			<img src="/images/ab-img03.png" alt="">
			<p>Jason</p>
			<p><b>Nielsen</b></p>
			<p align="left">Anim ea esse id laborum qui culpa commodo laborum ad elit consectetur est proident sunt. Esse ex fugiat consectetur elit aliqua. Sint consectetur velit id sit.</p>
		</div>
		<div class="col-md-6">
			<img src="/images/ab-img03.png" alt="">
			<p>Jason</p>
			<p><b>Nielsen</b></p>
			<p align="left">Anim ea esse id laborum qui culpa commodo laborum ad elit consectetur est proident sunt. Esse ex fugiat consectetur elit aliqua. Sint consectetur velit id sit.</p>
		</div>
	</div>
	<div class="col-md-6">
		<div class="col-md-6 af">
			<img src="/images/ab-img03.png" alt="">
			<p>Jason</p>
			<p><b>Nielsen</b></p>
			<p align="left">Anim ea esse id laborum qui culpa commodo laborum ad elit consectetur est proident sunt. Esse ex fugiat consectetur elit aliqua. Sint consectetur velit id sit.</p>
		</div>
		<div class="col-md-6">
			<img src="/images/ab-img03.png" alt="">
			<p>Jason</p>
			<p><b>Nielsen</b></p>
			<p align="left">Anim ea esse id laborum qui culpa commodo laborum ad elit consectetur est proident sunt. Esse ex fugiat consectetur elit aliqua. Sint consectetur velit id sit.</p>
		</div>
	</div>
</div>
