{{!< default}} 
<div class="container">
	<div class="col-md-12">
		<div class="col-md-4">
			<h2>EMILIA ROMAGNA</h2>
			<p>Laboris voluptate adipisicing id ipsum enim enim occaecat dolor tempor ipsum esse.</p>
			<p>Do elit deserunt cupidatat amet laborum non irure tempor et quis aliqua esse aliquip amet.</p>
			<p>Excepteur eu dolore ex commodo velit incididunt minim voluptate dolore dolore elit consectetur aute.</p>
		</div>
	</div>
	<div class="col-md-12 text-center">
		<h2><b>Why Choose us</b></h2>
		<p>Turn emails, support tickets, chats, social media, surveys and</p>
		<p>documents into actionable data.</p>
	</div>
	<div class="row">
		<div class="col-md-4 ">
			<img src="/images/icon-1.png" class="image-content">
			<h3><b>Fast and optimized</b></h3>
			<p>Unlike team chat apps. Flow is designed to help your team stay focused by keeping relevant and actionable</p>
		</div>
		<div class="col-md-4">
			<img src="/images/icon-2.png" class="image-content">
			<h3><b>Well Documents</b></h3>
			<p>Unlike team chat apps. Flow is designed to help your team stay focused by keeping relevant and actionable</p>
		</div>
		<div class="col-md-4 ">
			<img src="/images/icon-3.png" class="image-content">
			<h3><b>Easy Intergrated</b></h3>
			<p>Unlike team chat apps. Flow is designed to help your team stay focused by keeping relevant and actionable</p>
		</div>
	</div>
	<div class="col-md-12 ">
		<div class="col-md-6">
			<h2><b>Mobile Application</b></h2>
			<p>Incididunt eu elit laboris enim est pariatur. Dolore exercitation ad sit culpa incididunt consectetur cillum ipsum minim mollit. Magna proident excepteur aliquip esse ex ad consequat proident commodo. Est ea culpa officia ad tempor est commodo exercitation minim ipsum aliqua. Labore eiusmod ad ipsum nulla velit tempor reprehenderit excepteur. Consequat minim ad irure nulla eu consequat tempor deserunt id non non culpa. Cupidatat dolore magna duis anim.</p>
			
		</div>
		<div class="col-md-6 mobile">
			<img src="/images/phone.png">
		</div>
	</div>
	<div class="col-md-12">
		<div class="col-md-6">
			<img src="/images/computer.png" class="computer">
		</div>
		<div class="col-md-6">
			<h2 style="text-align: right"><b>Custom solution for your business</b></h2>
			<p style="text-align: right">Irure enim aliqua sint consectetur. Reprehenderit adipisicing ea ut quis veniam deserunt do reprehenderit elit ad excepteur. Incididunt consequat id est officia officia commodo exercitation est incididunt est.</p>
			<br>
			<p style="text-align: right">Reprehenderit consequat sit ut cillum excepteur occaecat dolor mollit. Officia eu in irure qui esse dolor aliquip deserunt consequat. Laboris culpa quis elit sint minim duis enim cillum pariatur ipsum proident quis proident. Nisi fugiat deserunt aliqua elit ut ullamco excepteur adipisicing voluptate non. Labore est nulla exercitation minim duis ea ad.</p>
		</div>
	</div>
	<div class="col-md-12 text-center quote">
		<h2><b>Some Talk of Our Honorable Clients</b></h2>
		<p>In magna voluptate voluptate in culpa occaecat velit ex adipisicing nisi aute minim.</p>
		<p>Integer luctus asbss</p>	
		<img src="/images/avatar.jpg" class="avatar">
	</div>
</div>

