<div class="container">
    <div class="col-md-12 text-center p1">
        <h3>Portfolios detail parallax</h3>
        <div class="col-md-12 row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <p align="justify">Consequat esse proident deserunt velit id duis duis ullamco. Proident ea cupidatat Lorem ex irure laborum aliqua elit mollit esse. Sit ullamco veniam proident est irure adipisicing esse elit amet dolor tempor incididunt.</p>
            </div>
        </div>
    </div>
    <div class="col-md-12 text-center p2">
        <h3>Portfolios detail parallax</h3>
        <div class="col-md-12 row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <p align="justify"> Consequat esse proident deserunt velit id duis duis ullamco. Proident ea cupidatat Lorem ex irure laborum aliqua elit mollit esse. Sit ullamco veniam proident est irure adipisicing esse elit amet dolor tempor incididunt.</p>
            </div>
        </div>
    </div>
    <div class="col-md-12 text-center p3">
        <h3>Portfolios detail parallax</h3>
        <div class="col-md-12 row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <p align="justify">Consequat esse proident deserunt velit id duis duis ullamco. Proident ea cupidatat Lorem ex irure laborum aliqua elit mollit esse. Sit ullamco veniam proident est irure adipisicing esse elit amet dolor tempor incididunt.</p>
            </div>
        </div>
    </div>
</div>