<div class='container'>
    <div class="col-md-12 text-center">
        <h3>SERVICES</h3>
        <p>We are passionate about what we do</p>
    </div>
    <div class="col-md-12">
        <p><a href="/">Home</a> &rarr;  Services</p>
    </div>
    <div class="container">
        <div class="col-md-12 row">
            <div class="col-md-4 row">
                <div class="col-md-4 center text-center">
                    <img src="/images/s-icon01.png" alt="">
                </div>
                <div class="col-md-8 text-center">
                    <h4>Bussiness Analysis</h4>
                    <p>Aute incididunt esse quis sint enim sit proident non dolor mollit cupidatat. Officia ut duis irure anim qui</p>
                </div>
            </div>
            <div class="col-md-4 row">
                <div class="col-md-4 center text-center">
                    <img src="/images/s-icon02.png" alt="">
                </div>
                <div class="col-md-8 text-center">
                    <h4>Mobile Srategy</h4>
                </div>
            </div>
            <div class="col-md-4 row">
                <div class="col-md-4 center text-center">
                    <img src="/images/s-icon03.png" alt="">
                </div>
                <div class="col-md-8 text-center">
                    <h4>Prototyping</h4>
                </div>
            </div>
        </div>
        <div class="col-md-12 row">
            <div class="col-md-4 row">
                <div class="col-md-4 center text-center">
                    <img src="/images/s-icon04.png" alt="">
                </div>
                <div class="col-md-8 text-center">
                    <h4>UX/UI Design</h4>
                </div>
            </div>
            <div class="col-md-4 row">
                <div class="col-md-4 center text-center">
                    <img src="/images/s-icon05.png" alt="">
                </div>
                <div class="col-md-8 text-center">
                    <h4>Native App Development</h4>
                </div>
            </div>
            <div class="col-md-4 row">
                <div class="col-md-4 center text-center">
                    <img src="/images/s-icon06.png" alt="">
                </div>
                <div class="col-md-8 text-center">
                    <h4>Web Development</h4>
                </div>
            </div>
        </div>
        <div class="col-md-12 row">
            <div class="col-md-4 row">
                <div class="col-md-4 center text-center">
                    <img src="/images/s-icon07.png" alt="">
                </div>
                <div class="col-md-8 text-center">
                    <h4>Testing</h4>
                </div>
            </div>
            <div class="col-md-4 row">
                <div class="col-md-4 center text-center">
                    <img src="/images/s-icon08.png" alt="">
                </div>
                <div class="col-md-8 text-center">
                    <h4>Publishing</h4>
                </div>
            </div>
            <div class="col-md-4 row">
                <div class="col-md-4 center text-center">
                    <img src="/images/s-icon09.png" alt="">
                </div>
                <div class="col-md-8 text-center">
                    <h4>Continuous Support</h4>
                </div>
            </div>
        </div>
    </div>
</div>
