<footer class="main-footer">
                    <ul class="social-links-round">
                        <li><a href="https://www.facebook.com/MicroUmbrella/" target="_blank" class="fb js-track-event" data-event="footer_facebook_clicked">facebook</a></li>
                    </ul>
                        
                    <ul class="footer-menu">
                        <li><a class="js-track-event" data-event="footer_tos_clicked" href="/about-us">About Us</a></li>
                        <li><a class="js-track-event" data-event="footer_tos_clicked" href="/terms#terms">Terms & Conditions</a></li>
                        <li><a class="js-track-event" data-event="footer_privacy_policy_clicked" href="/terms#personal-data">Policy on Personal Data</a></li>
                        <li>
                            <a class="js-track-event nationwide-link" data-event="menu_lemonade_goes_nationwide_clicked" id="gtm_menu_lemonade_goes_nationwide" href="/contact">Contact Us</a>
                        </li>
                    </ul>
                    <p class="legal">
                        © Wecare Tech LLP 2017
                    </p>

                </footer>