<head>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WMP4VK6');</script>
<!-- End Google Tag Manager -->

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>MicroAssure: World's First Insurance for the Blockchain Community</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <link rel="shortcut icon" href="/assets/favicon.ico">
        <meta name="description" content="We give protection to cryptocurrency miners and users. Be protected in the case of damage, theft, and cyber attacks.">
        <meta name="Referrer" content="origin">

        <!-- Facebook -->
        <meta property="og:title" content="MicroAssure: Insurance for the blockchain community>
        <meta property="og:description" content="We give protection to cryptocurrency miners and users. Be protected in the case of crash, theft, or damage.">
        <meta property="og:url" content="https://microassure.com">
        <meta property="og:image" content="https://microassure.com/assets/MicroUmbrella-og.png">

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

            <link rel="stylesheet" media="all" href="/assets/application-c9f5580584f3159a5ff1aa5a61543a359d22831de75448346a9b27237c03ab2b.css">

        <link rel="stylesheet" media="all" href="/assets/index-6a0cfb75a7b7e8ac4f5bb382f5f883b8f1cff6725931a5f928503aa45199a87b.css">

  <!-- <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css"> -->
        
    

    <!-- Start of microumbrella Zendesk Widget script -->
<script>/*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(e){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var e=this.createElement("script");n&&(this.domain=n),e.id="js-iframe-async",e.src="https://assets.zendesk.com/embeddable_framework/main.js",this.t=+new Date,this.zendeskHost="microumbrella.zendesk.com",this.zEQueue=a,this.body.appendChild(e)},o.write('<body onload="document._l();">'),o.close()}();
/*]]>*/</script>
<!-- End of microumbrella Zendesk Widget script -->


    <style type="text/css">
        h1 {
          font-family: inherit;
          font-weight: 500;
        }
    </style>
    </head>