<style>
#mobile-menu .nav-links li {
    height: 45px;
}
</style>

<nav id="mobile-menu">
                <a href="#" class="btn-close js-btn-menu-close"></a>
                <ul class="nav-links">
                    <li><a href="/">Home</a></li>
                    <li><a class="js-track-event" data-event="mobile_menu_fundraise_clicked" id="gtm_menu_fundraise" href="questions">Questions?</a></li>
                    <li><a class="js-track-event" data-event="mobile_menu_faq_clicked" id="gtm_menu_faq" href="about-us">About Us</a></li>
                    <!-- <li>
                                    <div class="flag-container">
                                        <a class="flag-link" href="/">
                                            <img class="flag-icon active-flag" src="/assets/singapore.png" alt="Singapore">
                                        </a>
                                    </div>
                                </li> -->
                                <!--<li>
                                 <div class="flag-container">
                                        <a class="flag-link" href="/my">
                                            <img class="flag-icon" src="/assets/malaysia.png" alt="Malaysia">
                                        </a>
                                    </div>
				</li>-->
                </ul>
                <ul class="social-links-round">
                    <li><a href="https://www.facebook.com/MicroUmbrella/" target="_blank" class="fb js-track-event" data-event="mobile_menu_facebook_clicked">facebook</a></li>
                </ul>
            </nav>
            <header class="
                      main-header-wrap
                      header-mobile
                    ">
                <div class="main-header">
                    <a href="#" class="btn-menu-toggle js-btn-menu-toggle js-track-event" data-event="mobile_menu_toggle_clicked"></a>
                    <a href="/" id="gtm_top_logo" class="logo js-track-event" data-event="mobile_home_logo_clicked"><img src="/assets/MicroAssure-logo.svg" alt="MicroUmbrella" width="146" height="33"></a>
                        <!-- <a href="#" id="gtm_button_top_check_prices" class="btn-standard btn-pink btn-check-prices js-track-event js-btn-check-prices-header btn-check-prices-header" data-event="menu_check_prices link-video">Prices</a> -->
                </div>
            </header>
